<div class="container">
  <div class="card" (click)="addToCart(item)">
    <div class="lg-img">
      <img src="{{item.photo}}" alt="" />
    </div>
    <div class="sm-img">
      <img src="{{item.photo}}" alt="" />
    </div>
    <div>
      <p id="name">{{item.name}}</p>
      <p id="price">{{item.price}}</p>
      <p id="stock">{{item.stock}}</p>
      <button class="modify" (click)="modify(item)" *ngIf="this.authService.user != null">Chỉnh Sửa</button>
      <button class="remove" (click)="remove()" *ngIf="this.authService.user != null">Xóa</button>
    </div>
</div>
