<div class="bg-navbar">
  <div class="container-navbar">
    <div class="logo">
      <img src="https://4menshop.com/logo.png?v=1" alt="">
    </div>
    <div class="container-page-another">
      <ul class="page-another">
        <li><a (click)="navigateToHome()">TRANG CHỦ</a></li>
        <li><a (click)="navigateToDetailItems()">CHI TIẾT ĐƠN HANG</a></li>
        <li><a (click)="navigateToCat()">CAT</a></li>
        <li><a >PHỤ KIỆN</a></li>
        <li><a >GIÀY DÉP</a></li>
        <li><a >KHUYẾN MÃI</a></li>
      </ul>
    </div>
    <div class="icon-navbar">
      <div class="div-cart">
        <fa-icon class="icon-cart" [icon]="faCartShopping"></fa-icon>
      </div>
      <div class="div-plus">
        <fa-icon class="icon-plus" [icon]="faPlus"></fa-icon>
      </div>

    </div>
  </div>
</div>
