
<app-top-navbar></app-top-navbar>
<app-navbar></app-navbar>
<app-bottom-navbar></app-bottom-navbar>
<app-top-main></app-top-main>
<div class="container">
  <div class="right-container">
    <!-- <div class="detail-items">
      <a href="" routerLink="">Home</a>
    </div> -->
    <div class="form">
     <app-form [ListItems]="listItems"></app-form>
    </div>
    <div class="form-delete">
      <app-form-delete [listItems]="listItems"></app-form-delete>
    </div>
  </div>
  <div class="left-container">
    <app-card *ngFor="let item of this.dataService.listItems2" [item]="item" ></app-card>
  </div>
</div>