<div class="bg-top-navbar">
  <div class="container-top-navbar">
    <div class="phone">
      <div class="s-phone">
        <fa-icon class="icon-phone" [icon]="faPhoneFlip"></fa-icon>
      </div>
      <div class="s-phone">
        <p>Hotline</p>
      </div>
      <div class="s-phone">
        <a href="">0868.444.644</a>
      </div>
    </div>
    <div class="introduce">
      <p>Cách chọn Size</p>
      <p>Chính sách khách vip</p>
      <p>Giới thiệu</p>
      <div class="in-out">
        <button  class="login-btn" *ngIf="this.auth.user == null" (click)="login()">Login</button>
        <button  class="logout-btn" *ngIf="this.auth.user !== null" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
