.form-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: 1px solid #ccc;
  border-radius: 8px; 
}
.title-pay{
  font-size: 30px;
  margin-top: 10px;
}
.bottom-pay-item {
  border-bottom: 1px dashed #CCC;
  width: 150px;
}
.total {
  align-items: center ;
  margin: 10px;

}
.form-group {
  display: flex;
  flex-direction: row; 
  align-items: center ;
  margin: 10px;
}
.cart {
  align-items: center; 
  width: 100%;
  margin-left: 150px;
}
.form-group p {
  width: 30%; 
}

.form-group label {
  width: 100px; 
  
}

button {
  width: 200px;
  background-color: #7F8C8D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #616A6B;
}

button:active {
  background-color: #424949;
}

.remove-button {
  width: 20px;
  height: 25px;
  background-color: #922B21;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  margin-right: 100px;
}

.remove-button:hover {
  background-color: #7B241C;
}

.remove-button:active {
  background-color: #641E16;
}