.container {
  margin: 0 auto;
  width: 80%;
}
.left-container {
  width: 65%; 
  float: left; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.right-container {
  width: 35%; 
  float: right;
}

.pay {
  margin-top: 30px;
}

.form-delete {
  margin-top: 30px;
}
.detail-items {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.detail-items a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 40px;
  border: 1px solid #CACFD2;
}

.detail-items a:hover {
  background-color: #FFE1AF ;
}

.detail {
  display: flex;
  flex-wrap: wrap;
}
